body {
    font-family: Arial, sans-serif;
    padding-top: 15px;
    padding-bottom: 20px;
}
.logo-container {
    text-align: center;
}
.logo {
    max-width: 200px;
    height: auto;
}
.content-container {
    padding: 10px;
}
@media (max-width: 576px) {
    .logo {
        max-width: 150px;
    }
}